/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

/* Headings */
h1,
h2,
h3 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;  
}

/* Header */
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
}

/* Containers */
div {
  background-color: #eae2b7;
  margin: auto;
  width: 600px;
}

article {
  padding: 50px 0;
}

article div {
  text-align: left;
  width: 100%;
}

section {
  display: flex;
  flex-direction: row;
}

#about {
  display: flex;
  flex-direction: column;
  text-align: left;
  flex: 2;
}

#about-heading {
  align-items: center;
  text-align: center;
}

/* Paragraphs */
p {
  line-height: 1.5;
  width: 100%;
}

.project-description {
  font-size: 14px;
  display: flex;
  text-align: center;
}

/* Links */
a:link {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}

nav a {
  padding-left: 20px;
}

/* Images */
img {
  width: 100%;
  max-width: 200px;
  height: auto;
  display: flex; /*attempt to align image*/
  justify-content: space-around; /*may not need */
  align-items: center; /*may not need */
}

.image-circle {
  border: 2px solid #003049;
  border-radius: 50%;
}

#portfolio {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}

.column-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
  padding: 5px;
  
}

.div-portfolio {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between; /* Distribute space evenly - may not need here*/
  padding: 20px 0px; /*was 20px*/
  align-items: flex-start;
}

/* Footer */
footer {
  display: flex;
  text-align: center;
  align-items: center;
}

/* Other page elements */
hr {
  border: 1px solid black;
}
